/* styles.css */
body {
 width: 100%;
 height: 50px;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.sidebar {
 margin-top: 120px;
  width: 220px;
  background-color: lightyellow;
  color: black;
  width: 100vw;
  height: 50vh;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
  margin-left: 20rem;
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.content {
  margin-left: 240px; /* 사이드바 폭 + 여유 */
  padding: 20px;
}

.sidebar2 {
  position: fixed;
  top: 0;
  left: -250px; /* 사이드바는 왼쪽에서 슬라이드로 나옴 */
  width: 220px;
  height: 100vh;
  background-color: black;
  color: black;
  padding: 30px;
  box-sizing: border-box;
  transition: left 0.3s ease;
  z-index: 1000;
}

.menu-btn {
  width: 80px;  /* 버튼의 너비를 설정 */
  height: 50px;  /* 버튼의 높이를 설정 */
  font-size: 6rem;  /* 글자 크기 설정 */
  display: flex;  /* 플렉스 박스를 사용하여 가운데 정렬 */
  justify-content: center;  /* 수평 가운데 정렬 */
  align-items: center;  /* 수직 가운데 정렬 */
  cursor: pointer;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 1000;
  transition: background-color 0.3s ease;  /* 배경색 변화에 부드러운 전환 */
}